/* Header CSS Start */
header .wrapper, header .wrapper .images {
    position: relative;
}
header .wrapper .texts, header .wrapper .images .two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
header .wrapper .images .two {
    opacity: 0.86;
}
header .wrapper .images .one img, header .wrapper .images .two img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    object-position: center;
}
header .texts .text_wrapper h1 {
    font-size: 60px;
}
header .texts .tag {
    background-color: #ffffff20;
    max-width: 184px;
}
header .texts .tag .icon {
    color: #1e8a8a;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 340px;
    }
}
@media screen and (max-width: 576px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 300px;
    }
}
/* Header CSS End */


/* Service CSS Start */
.service {
    padding: 100px 0;
}
.service .wrapper {
    border: 1px dashed #ccc;
    max-width: 194px;
}
.service .wrapper .image {
    max-width: 14px;
}
.service .wrapper .image img {
    width: 100%;
}
.service h1 {
    font-size: 46px;
    max-width: 590px;
}
.service h1 .green {
    color: #1e8a8a;
}
.service .btn_one {
    max-width: 184px;
}
.service .item .icon {
    font-size: 68px;
    color: #1E8A8A;
    transition: 0.4s;
}
.service .item, .service .item h4, .service .item h6 {
    transition: 0.4s;
}
.service .item:hover {
    background-color: #1E8A8A !important;
}
.service .item:hover .icon, .service .item:hover h4, .service .item:hover h6 {
    color: #fff !important;
}
@media screen and (max-width: 768px) {
    .service {
        padding: 60px 0;
    }
    .service h1 {
        font-size: 36px;
    }
}
@media screen and (max-width: 576px) {
    .service {
        padding: 36px 0;
    }
    .service .wrapper {
        max-width: 158px;
    }
    .service .wrapper h6 {
        font-size: 12px;
    }
    .service h1 {
        font-size: 24px;
    }
}
/* Service CSS End */


/* Know US CSS Start */
.know_us {
    padding: 100px 0;
    background-color: #d8e5e5;
}
.know_us .wrapper {
    position: relative;
    overflow: hidden;
}
.know_us .wrapper .image img {
    width: 100%;
}
.know_us .wrapper .texts {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 274px;
    background-color: #ffffff20;
    backdrop-filter: blur(10px);
}
.know_us .wrapper .progress_bar .bar {
    width: 100%;
    background-color: #1E8A8A;
    border: 1px solid #dddddd30;
}
.know_us .headline .wrapper {
    border: 1px dashed #ccc;
    max-width: 182px;
}
.know_us .headline .wrapper .image {
    max-width: 14px;
}
.know_us .headline .wrapper .image img {
    width: 100%;
}
.know_us .headline h1 {
    font-size: 46px;
    max-width: 590px;
}
.know_us .headline h1 .green, .know_us .item ul i {
    color: #1e8a8a !important;
}
@media screen and (max-width: 768px) {
    .know_us {
        padding: 60px 0;
    }
    .know_us .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .know_us {
        padding: 38px 0;
    }
    .know_us .wrapper .texts {
        bottom: 10px;
        left: 11px;
    }
    .know_us .headline .wrapper {
        max-width: 148px;
    }
    .know_us .headline .wrapper h6 {
        font-size: 12px;
    }
    .know_us .headline h1 {
        font-size: 24px;
    }
}
/* Know US CSS End */


/* Logos CSS Start */
.logos {
    padding: 200px 0;
}
.logos .item {
    min-height: 100px;
}
.logos .wrapper {
    position: relative;
}
.logos .wrapper .company {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logos .wrapper .company .wrapper {
    background-color: #ffffff20;
    backdrop-filter: blur(8px);
    width: 290px;
    height: 290px;
    padding: 34px;
    border: 1px dashed #ccc;
}
.logos .wrapper .company .wrapper h5 .green {
    background-color: #1E8A8A;
    padding: 0 4px;
}
@media screen and (max-width: 768px) {
    .logos {
        padding: 120px 0;
    }
}
@media screen and (max-width: 768px) {
    .logos {
        padding: 76px 0;
    }
}
/* Logos CSS End */


/* Testimonial CSS Start */
.testimonial {
    padding: 0 0 100px;
}
.testimonial .item .icon {
    font-size: 68px;
    color: #1E8A8A;
}
.testimonial .item p {
    border-bottom: 1px dashed #ccc;
}
.testimonial .wrapper {
    position: relative;
    overflow: hidden;
}
.testimonial .wrapper .text_one {
    position: absolute;
    top: 25px;
    left: 25px;
}
.testimonial .wrapper .text_two {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1e8a8a;
    border-left: 16px solid #ecf0f0;
    border-top: 16px solid #ecf0f0;
}
.testimonial .wrapper .text_two h2 {
    font-size: 62px;
}
.testimonial .wrapper .image_two img {
    width: 100%;
    height: 566px;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .testimonial {
        padding: 60px 0;
    }
}
@media screen and (max-width: 576px) {
    .testimonial {
        padding: 38px 0;
    }
    .testimonial .item p {
        font-size: 16px !important;
    }
    .testimonial .wrapper .image_two img {
        height: 490px;
        object-fit: cover;
    }
}
/* Testimonial CSS End */


/* Team CSS Start */
.team {
    padding: 100px 0;
    background-color: #d8e5e5;
}
.team .headline .wrapper {
    border: 1px dashed #ccc;
    max-width: 182px;
}
.team .headline .wrapper .image {
    max-width: 14px;
}
.team .headline .wrapper .image img {
    width: 100%;
}
.team .headline h1 {
    font-size: 46px;
    max-width: 590px;
}
.team .headline h1 .green {
    color: #1e8a8a !important;
}
.team .wrapper {
    position: relative;
}
.team .wrapper .bg {
    background-color: #1E8A8A;
    width: 290px;
    height: 375px;
    transform: rotate(4deg);
    opacity: 0;
}
.team .wrapper .wrapper_two {
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 375px;
}
.team .wrapper .wrapper_two .image {
    background-color: #a9b8b8;
}
.team .wrapper .wrapper_two .wrapper_three {
    position: relative;
}
.team .wrapper .wrapper_two .wrapper_three .socials {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Team CSS End */


/* QNA CSS Start */
.qna {
    padding: 100px 0;
}
.qna .wrapper {
    border: 1px dashed #ccc;
    max-width: 220px;
}
.qna .wrapper .image {
    max-width: 14px;
}
.qna .wrapper .image img {
    width: 100%;
}
.qna h1 {
    font-size: 40px;
}
.qna h1 .green {
    color: #1e8a8a !important;
}
.qna p {
    max-width: 300px;
}
.qna .btn_one {
    max-width: 186px;
}
.qna .accordion-item .accordion-button:focus {
    box-shadow: none;
    background-color: #fff;
}
@media screen and (max-width: 768px) {
    .qna {
        padding: 60px 0;
    }
    .qna h1 {
        font-size: 36px;
    }
    .qna p {
        max-width: 500px;
    }
}
@media screen and (max-width: 576px) {
    .qna {
        padding: 38px 0;
    }
    .qna .wrapper {
        max-width: 176px;
    }
    .qna .wrapper h6 {
        font-size: 12px;
    }
    .qna h1 {
        font-size: 24px;
    }
    .qna p {
        font-size: 14px;
    }
}
/* QNA CSS End */


/* Footer CSS Start */
footer {
    padding: 200px 0 0 !important;
}
/* Footer CSS End */