/* Header CSS Start */
header .wrapper, header .wrapper .images {
    position: relative;
}
header .wrapper .texts, header .wrapper .images .two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
header .wrapper .images .two {
    opacity: 0.86;
}
header .wrapper .images .one img, header .wrapper .images .two img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    object-position: center;
}
header .texts .text_wrapper h1 {
    font-size: 60px;
}
header .texts .tag {
    background-color: #ffffff20;
    max-width: 198px;
}
header .texts .tag .icon {
    color: #1e8a8a;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 340px;
    }
}
@media screen and (max-width: 576px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 300px;
    }
}
/* Header CSS End */


/* Info CSS Start */
.info {
    padding: 100px 0;
}
.info .headline .wrapper {
    border: 1px dashed #ccc;
    max-width: 164px;
}
.info .headline .wrapper .image {
    max-width: 14px;
}
.info .headline .wrapper .image img {
    width: 100%;
}
.info h1 {
    font-size: 46px;
}
.info .item .icon {
    color: #1e8a8a;
    width: 80px;
    height: 80px;
    background-color: #d8e5e5;
    transition: 0.4s;
}
.info .item:hover .icon {
    background-color: #1e8a8a;
    color: #fff;
}
.info a {
    transition: 0.4s;
}
.info a:hover, .info .green {
    color: #1e8a8a !important;
}
@media screen and (max-width: 768px) {
    .info {
        padding: 60px 0;
    }
    .info h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .info {
        padding: 38px 0;
    }
    .info .headline .wrapper {
        max-width: 134px;
    }
    .info .headline .wrapper h6 {
        font-size: 12px;
    }
    .info h1 {
        font-size: 24px;
    }
}
/* Info CSS End */


/* Contact CSS Start */
.contact {
    padding: 100px 0;
}
.contact form .input_group input, .contact form .input_group textarea {
    border-bottom: 1px dashed #00000030 !important;
    border: 0;
    transition: 0.4s;
}
.contact form .input_group input:focus, .contact form .input_group textarea:focus {
    border-bottom: 1px dashed #000 !important;
    box-shadow: none;
}
.contact iframe {
    width: 100%;
    height: 566px;
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 60px 0;
    }
    .contact iframe {
        height: 540px;
    }
}
@media screen and (max-width: 576px) {
    .contact {
        padding: 38px 0;
    }
    .contact h1 {
        font-size: 21px !important;
    }
    .contact iframe {
        height: 500px;
    }
}
/* Contact CSS End */


/* Footer CSS Start */
footer {
    padding: 200px 0 0 !important;
}
/* Footer CSS End */