/* Header CSS Start */
header {
    padding: 80px 0;
    background: #1E8A8A;
    background: radial-gradient(circle, rgb(16, 74, 74) 0%, rgba(12, 30, 33, 1) 34%);
    position: relative;
}
header .one {
    position: absolute;
    top: 0;
    left: 0;
}
header .two {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
header .headline .wrapper {
    border: 1px dashed #3f888848;
    max-width: 256px;
}
header .headline .wrapper .image {
    max-width: 14px;
}
header .headline .wrapper .image img {
    width: 100%;
}
header .headline h1 {
    font-size: 80px;
    max-width: 1032px;
}
header .start p {
    max-width: 366px;
}
header .banner {
    margin-top: 90px;
    position: relative;
    z-index: 2;
}
@media screen and (max-width: 768px) {
    header {
        padding: 50px 0 24px;
    }
    header .headline h1 {
        font-size: 50px;
    }
    header .banner {
        margin-top: 70px;
    }
}
@media screen and (max-width: 576px) {
    header {
        padding: 38px 0 14px;
    }
    header .headline .wrapper {
        max-width: 202px;
    }
    header .headline .wrapper h6 {
        font-size: 12px;
    }
    header .headline h1 {
        font-size: 32px;
    }
    header .banner {
        margin-top: 40px;
    }
    header .btn_one, header .one, header .two {
        max-width: 164px;
    }
}
/* Header CSS End */


/* Service CSS Start */
.service {
    padding: 100px 0;
}
.service .item .icon {
    font-size: 68px;
    color: #1E8A8A;
    transition: 0.4s;
}
.service .item, .service .item h4, .service .item h6 {
    transition: 0.4s;
}
.service .item:hover {
    background-color: #1E8A8A !important;
}
.service .item:hover .icon, .service .item:hover h4, .service .item:hover h6 {
    color: #fff !important;
}
.service .headline .wrapper {
    border: 1px dashed #1E8A8A;
    max-width: 194px;
}
.service .headline .wrapper h6 {
    color: #1E8A8A;
}
.service .headline .wrapper .image {
    max-width: 14px;
}
.service .headline .wrapper .image img {
    width: 100%;
}
.service .headline h1 {
    font-size: 42px;
    font-weight: 500;
}
.service .btn_one {
    max-width: 160px;
}
.service .growth_wrapper {
    position: relative;
    height: 300px;
}
.service .growth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c1e21ac;
}
.service .growth_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service .growth .icon {
    background-color: #1E8A8A;
    width: 68px;
    height: 68px;
}
.service .growth h6 {
    color: #a9b8b8;
    margin-top: 70px;
}
.service .growth h2 {
    font-size: 70px;
}
@media screen and (max-width: 768px) {
    .service {
        padding: 60px 0;
    }
    .service .headline h1 {
        font-size: 36px;
    }
    .service .growth_wrapper {
        height: 318px;
    }
}
@media screen and (max-width: 576px) {
    .service {
        padding: 36px 0;
    }
    .service .headline .wrapper {
        max-width: 158px;
    }
    .service .headline .wrapper h6 {
        font-size: 12px;
    }
    .service .headline h1 {
        font-size: 24px;
    }
    .service .growth_wrapper {
        height: 288px;
    }
}
/* Service CSS End */


/* Know Us CSS Start */
.know_us {
    padding: 100px 0;
    background-color: #d8e5e5;
}
.know_us .wrapper {
    border: 1px dashed #1E8A8A;
    max-width: 182px;
}
.know_us .wrapper h6 {
    color: #1E8A8A;
}
.know_us .wrapper .image {
    max-width: 14px;
}
.know_us .wrapper .image img {
    width: 100%;
}
.know_us .customer {
    margin-top: 170px;
}
.know_us .customer .client {
    max-width: 54px;
    border: 3px solid #fff;
    margin-right: -20px;
}
.know_us .customer .client img {
    width: 100%;
}
.know_us .customer .icon {
    background-color: #1E8A8A;
    width: 54px;
    height: 54px;
    border: 3px solid #fff;
}
.know_us h5 {
    font-size: 18px;
    max-width: 200px;
}
.know_us h1 {
    font-size: 44px;
}
.know_us .logos .item {
    min-height: 100px;
}
@media screen and (max-width: 768px) {
    .know_us {
        padding: 60px 0;
    }
    .know_us .customer {
        margin-top: 100px;
    }
    .know_us h1 {
        font-size: 24px;
    }
}
@media screen and (max-width: 576px) {
    .know_us {
        padding: 38px 0;
    }
    .know_us .wrapper {
        max-width: 148px;
    }
    .know_us .wrapper h6 {
        font-size: 12px;
    }
    .know_us .customer {
        margin-top: 20px;
    }
    .know_us h1 {
        font-size: 22px;
    }
}
/* Know Us CSS End */


/* Solutions CSS Start */
.solution {
    padding: 100px 0;
}
.solution .headline .wrapper {
    border: 1px dashed #1E8A8A;
    max-width: 176px;
}
.solution .headline .wrapper h6 {
    color: #1E8A8A;
}
.solution .headline .wrapper .image {
    max-width: 14px;
}
.solution .headline .wrapper .image img {
    width: 100%;
}
.solution .headline h1 {
    font-size: 46px;
    max-width: 590px;
}
.solution .items .item {
    overflow: hidden;
}
.solution .items .item .wrapper {
    background-color: #0c1e21;
}
.solution .items .item .wrapper .icon_top {
    color: #1E8A8A;
    background: #063e3e;
    background: linear-gradient(131deg, rgba(7, 74, 74, 1) 0%, rgba(12, 30, 33, 1) 50%, rgba(7, 74, 74, 1) 100%);
    border: 1px solid #074a4a;
    width: 70px;
    height: 70px;
    margin-bottom: 80px;
}
.solution .items .item .wrapper a h2, .solution .items .item .wrapper a p {
    max-width: 360px;
    transition: 0.4s;
}
.solution .items .item .wrapper a h2:hover {
    color: #1E8A8A !important;
}
.solution .items .item .wrapper a p {
    color: #a9b8b8 !important;
}
.solution .btn_one {
    max-width: 160px;
}
.solution .items .item .image img {
    height: 518px;
    width: 100%;
    object-fit: cover;
}
.solution .text .image img {
    width: 18px;
}
.solution .text a {
    transition: 0.4s;
}
.solution .text a:hover {
    color: #1E8A8A !important;
}
.solution .text a i {
    transform: rotate(315deg);
}
@media screen and (max-width: 768px) {
    .solution {
        padding: 60px 0;
    }
    .solution .headline h1 {
        font-size: 38px;
    }
    .solution .items .item .wrapper .icon_top {
        margin-bottom: 40px;
    }
    .solution .items .item .image img {
        height: 390px;
    }
}
@media screen and (max-width: 576px) {
    .solution {
        padding: 38px 0;
    }
    .solution .headline .wrapper {
        max-width: 142px;
    }
    .solution .headline .wrapper h6 {
        font-size: 12px;
    }
    .solution .headline h1 {
        font-size: 24px;
    }
    .solution .items .item .wrapper .icon_top {
        margin-bottom: 20px;
    }
    .solution .items .item .image img {
        height: 360px;
    }
}
/* Solutions CSS End */


/* Fact CSS Start */
.fact {
    padding: 100px 0;
    background-color: #d8e5e5;
}
.fact .wrapper {
    border: 1px dashed #1E8A8A;
    max-width: 162px;
}
.fact .wrapper h6 {
    color: #1E8A8A;
}
.fact .wrapper .image {
    max-width: 14px;
}
.fact .wrapper .image img {
    width: 100%;
}
.fact h1 {
    font-size: 46px;
    max-width: 590px;
}
.fact h4 {
    border: 10px solid #1E8A8A;
    width: 120px;
    height: 120px;
}
.fact .item {
    transition: 0.4s;
}
.fact .item:hover {
    transform: translateY(-10px);
}
.fact .item .icon {
    color: #1E8A8A;
    background-color: #ecf0f0;
    width: 72px;
    height: 72px;
    margin-bottom: 70px;
}
.fact .item h2 {
    font-size: 70px;
}
@media screen and (max-width: 768px) {
    .fact {
        padding: 60px 0;
    }
    .fact h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .fact {
        padding: 38px 0;
    }
    .fact .wrapper {
        max-width: 132px;
    }
    .fact .wrapper h6 {
        font-size: 12px;
    }
    .fact h1 {
        font-size: 24px;
    }
}
/* Fact CSS End */


/* Project CSS Start */
.project {
    padding: 100px 0;
    border-bottom: 1px dashed #ccc;
}
.project .headline .wrapper {
    border: 1px dashed #1E8A8A;
    max-width: 188px;
}
.project .headline .wrapper h6 {
    color: #1E8A8A;
}
.project .headline .wrapper .image {
    max-width: 14px;
}
.project .headline .wrapper .image img {
    width: 100%;
}
.project .headline h1 {
    font-size: 46px;
    max-width: 588px;
}
.project .item, .project .item .tag, .project .item .wrapper .one {
    transition: 0.4s;
}
.project .item .tag:hover {
    background-color: #1E8A8A;
    color: #fff !important;
}
.project .item .wrapper .one:hover {
    color: #1E8A8A !important;
}
.project .item .wrapper .two {
    transform: rotate(315deg);
    border: 1px solid #1E8A8A;
    color: #1E8A8A;
    width: 66px;
    height: 66px;
    transition: 0.4s;
}
.project .item .wrapper .two:hover {
    transform: rotate(360deg);
    background-color: #1E8A8A;
    color: #fff;
}
.project .item .image {
    overflow: hidden;
}
.project .item .image img {
    height: 400px;
    object-fit: cover;
    transition: 0.4s;
}
.project .item:hover .image img {
    transform: scale(1.11) rotate(-3deg);
}
@media screen and (max-width: 768px) {
    .project {
        padding: 60px 0;
    }
    .project .headline h1 {
        font-size: 38px;
    }
    .project .item .image img {
        height: 300px;
    }
}
@media screen and (max-width: 576px) {
    .project {
        padding: 38px 0;
    }
    .project .headline .wrapper {
        max-width: 152px;
    }
    .project .headline .wrapper h6 {
        font-size: 12px;
    }
    .project .headline h1 {
        font-size: 24px;
    }
    .project .item .wrapper .one {
        font-size: 16px !important;
    }
    .project .item .image img {
        height: 260px;
    }
}
/* Project CSS End */


/* Pricing CSS Start */
.pricing {
    padding: 100px 0;
}
.pricing .accordion-button:focus {
    box-shadow: none;
    background-color: #1E8A8A;
    color: #fff;
    border-bottom: 1px solid #ffffff20;
}
.pricing .accordion-body {
    background-color: #1E8A8A;
}
.pricing .price {
    border-right: 1px solid #ffffff20;
    width: 50%;
}
.pricing .price h2 {
    font-size: 60px;
}
.pricing .benefits {
    list-style: none;
    width: 50%;
}
.pricing .headline .wrapper {
    border: 1px dashed #1E8A8A;
    max-width: 190px;
}
.pricing .headline .wrapper h6 {
    color: #1E8A8A;
}
.pricing .headline .wrapper .image {
    max-width: 14px;
}
.pricing .headline .wrapper .image img {
    width: 100%;
}
.pricing .headline h1 {
    font-size: 46px;
}
.pricing .headline p {
    max-width: 410px;
}
.pricing .btn_one {
    max-width: 170px;
}
@media screen and (max-width: 768px) {
    .pricing {
        padding: 60px 0;
    }
    .pricing .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .pricing {
        padding: 38px 0;
    }
    .pricing .headline h1 {
        font-size: 24px;
    }
    .pricing .headline p {
        font-size: 14px;
        margin: 2px 0 14px !important;
    }
    .pricing .headline .wrapper {
        max-width: 154px;
    }
    .pricing .headline .wrapper h6 {
        font-size: 12px;
    }
}
/* Pricing CSS End */


/* Contact CSS Start */
.contact {
    padding: 100px 0;
    background: #1E8A8A;
    background: radial-gradient(circle, rgb(16, 74, 74) 0%, rgba(12, 30, 33, 1) 34%);
    position: relative;
}
.contact .one {
    position: absolute;
    top: 0;
    left: 0;
}
.contact .two {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.contact .headline .wrapper {
    border: 1px dashed #3f888848;
    max-width: 158px;
}
.contact .headline .wrapper .image {
    max-width: 14px;
}
.contact .headline .wrapper .image img {
    width: 100%;
}
.contact .headline h1 {
    font-size: 48px;
}
.contact form .input_group input, .contact form .input_group textarea, .contact .feedback {
    background-color: #ffffff14;
    border: 1px solid #ffffff20;
    color: #a9b8b8;
    transition: 0.4s;
}
.contact form .input_group input:focus, .contact form .input_group textarea:focus {
    box-shadow: none;
    border: 1px solid #1E8A8A;
}
.contact form button {
    background-color: #00000000;
}
.contact .feedback h2 .lime {
    color: #a9b8b8 !important;
}
.contact .feedback .icon {
    font-size: 70px;
    color: #1E8A8A;
}
.contact .feedback h4 {
    line-height: 34px;
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 60px 0;
    }
    .contact .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .contact {
        padding: 38px 0;
    }
    .contact .headline h1 {
        font-size: 24px;
    }
    .contact .headline .wrapper {
        max-width: 128px;
    }
    .contact .headline .wrapper h6 {
        font-size: 12px;
    }
    .contact .feedback h2 {
        font-size: 16px;
    }
    .contact .feedback h4 {
        font-size: 14px;
        line-height: 20px;
    }
}
/* Contact CSS End */


/* Blog CSS Start */
.blog {
    padding: 100px 0;
}
.blog .headline .wrapper {
    border: 1px dashed #1E8A8A;
    max-width: 146px;
}
.blog .headline .wrapper h6 {
    color: #1E8A8A;
}
.blog .headline .wrapper .image {
    max-width: 14px;
}
.blog .headline .wrapper .image img {
    width: 100%;
}
.blog .headline h1 {
    font-size: 46px;
}
.blog .item {
    position: relative;
    overflow: hidden;
}
.blog .item .image img {
    transition: 0.4s;
}
.blog .item:hover .image img {
    transform: scale(1.08) rotate(-2deg);
}
.blog .item .item_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #074A4A;
    background: linear-gradient(180deg, rgba(7, 74, 74, 0.31) 0%, rgba(12, 30, 33, 0.85) 100%);
}
.blog .item .content_wrapper {
    width: 100%;
    height: 100%;
}
.blog .texts a h4 {
    max-width: 340px;
    font-size: 22px;
}
.blog .texts a h4:hover {
    text-decoration: underline !important;
}
.blog .texts p {
    color: #d0d0d0;
}
.blog .texts p .tag {
    background-color: #b0b0b053;
    border-radius: 6px;
}
.blog .date {
    background-color: #ffffff2d;
}
.blog .item:hover .btn_four {
    display: flex !important;
}
@media screen and (max-width: 768px) {
    .blog {
        padding: 38px 0;
    }
    .blog .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .blog {
        padding: 38px 0;
    }
    .blog .headline h1 {
        font-size: 24px;
    }
    .blog .headline .wrapper {
        max-width: 120px;
    }
    .blog .headline .wrapper h6 {
        font-size: 12px;
    }
    .blog .headline h1 {
        font-size: 24px;
    }
    .blog .texts a h4 {
        font-size: 16px;
    }
}
/* Blog CSS End */