*,*::before,*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: "Mona Sans", sans-serif;
    background-color: #ecf0f0;
}


/* Navigation CSS Start */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 6px 0 #00000002;
}
nav .navbar-brand {
    max-width: 130px;
}
nav .navbar-brand img {
    width: 100%;
}
nav .nav-link {
    font-weight: 500;
    color: #0c1e21;
    transition: 0.4s;
}
nav .nav-link:hover {
    color: #1e8a8a;
}
nav button {
    background-color: #1e8a8a !important;
}
.btn_one {
    background-color: #1e8a8a;
}
.btn_one .icon {
    width: 30px;
    height: 30px;
    background-color: #0c1e21;
    transform: rotate(315deg);
    transition: 0.4s;
}
.btn_one:hover .icon {
    background-color: #0c1e21;
    transform: rotate(360deg);
}
.btn_two {
    border: 1px solid #ccc;
}
.btn_two .icon {
    width: 30px;
    height: 30px;
    transform: rotate(315deg);
    transition: 0.4s;
}
.btn_two:hover .icon {
    transform: rotate(360deg);
}
.btn_three .icon {
    width: 30px;
    height: 30px;
    transform: rotate(315deg);
    transition: 0.4s;
}
.btn_three:hover .icon {
    transform: rotate(360deg);
    background-color: #1e8a8a !important;
}
.btn_four .icon {
    width: 30px;
    height: 30px;
    transform: rotate(315deg);
    transition: 0.4s;
    background-color: #1e8a8a !important;
}
.btn_four:hover .icon {
    transform: rotate(360deg);
}
@media screen and (max-width: 768px) {
    nav .border_bottom {
        border-bottom: 1px solid #00000010;
        width: 100%;
    }
}
/* Navigation CSS End */


/* CTA CSS Start */
.cta .wrapper {
    background-color: #1e8a8a;
    overflow: hidden;
    margin-bottom: -90px;
    position: relative;
}
.cta .image {
    background-color: #1e8a8a;
}
.cta h1 {
    font-size: 66px;
}
.btn_six {
    max-width: 210px;
}
.btn_six .icon {
    width: 30px;
    height: 30px;
    transform: rotate(315deg);
    transition: 0.4s;
}
.btn_six:hover .icon {
    transform: rotate(360deg);
}
@media screen and (max-width: 768px) {
    .cta h1 {
        font-size: 44px;
        text-align: center;
    }
    .btn_six {
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .cta h1 {
        font-size: 32px;
        text-align: center;
    }
    .btn_six {
        max-width: 210px;
    }
}
/* CTA CSS End */


/* Footer CSS Start */
footer {
    padding: 100px 0 0;
    background-color: #d8e5e5;
}
footer h1 {
    font-size: 58px;
}
footer a .customer .client {
    max-width: 50px;
    border: 3px solid #fff;
    margin-right: -18px;
    transition: 0.4s;
}
footer a .customer .client img {
    width: 100%;
}
.btn_five {
    background-color: #1e8a8a;
    max-width: 240px;
    transition: 0.4s;
}
.btn_five .icon {
    transform: rotate(315deg);
}
.btn_five:hover .customer .client {
    margin-right: -14px;
}
.btn_five:hover {
    max-width: 250px;
}
footer .newsletter {
    background-color: #1E8A8A;
}
footer .newsletter form .input_group input:focus {
    box-shadow: none;
}
footer .newsletter label a {
    transition: 0.4s;
}
footer .newsletter label a:hover {
    color: #000 !important;
}
footer ul {
    list-style: none;
}
footer ul li a {
    transition: 0.4s;
}
footer ul li a:hover {
    color: #1E8A8A !important;
    padding-left: 6px;
}
footer .info a {
    transition: 0.4s;
}
footer .info a:hover, footer .time .icon {
    color: #1E8A8A !important;
}
footer .copyright {
    background-color: #1E8A8A;
}
footer .copyright .social .icon {
    color: #1E8A8A;
    background-color: #ffffff60;
    width: 28px;
    height: 28px;
    transition: 0.4s;
}
footer .copyright .social .icon:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(-4px);
}
footer .copyright .border_right {
    border-right: 1px solid #fff;
}
footer .copyright .policy {
    transition: 0.4s;
}
footer .copyright .policy:hover {
    color: #000 !important;
}
@media screen and (max-width: 768px) {
    footer {
        padding: 60px 0 0;
    }
    footer h1 {
        font-size: 48px;
    }
}
@media screen and (max-width: 576px) {
    footer {
        padding: 38px 0 0;
    }
    footer h1 {
        font-size: 38px;
    }
}
/* Footer CSS End */