*,*::before,*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: "Mona Sans", sans-serif;
    background-color: #ecf0f0;
}


/* Navigation CSS Start */
nav {
    box-shadow: 0 0 6px 0 #00000002;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}
nav .navbar-brand {
    max-width: 130px;
}
nav .navbar-brand img {
    width: 100%;
}
nav .nav-link {
    font-weight: 500;
    color: #0c1e21;
    transition: 0.4s;
}
nav .nav-link:hover {
    color: #1e8a8a;
}
nav button {
    background-color: #1e8a8a !important;
}
.btn_one {
    background-color: #1e8a8a;
}
.btn_one .icon {
    width: 30px;
    height: 30px;
    background-color: #0c1e21;
    transform: rotate(315deg);
    transition: 0.4s;
}
.btn_one:hover .icon {
    background-color: #0c1e21;
    transform: rotate(360deg);
}
.btn_two {
    border: 1px solid #ccc;
}
.btn_two .icon {
    width: 30px;
    height: 30px;
    transform: rotate(315deg);
    transition: 0.4s;
}
.btn_two:hover .icon {
    transform: rotate(360deg);
}
@media screen and (max-width: 768px) {
    nav .border_bottom {
        border-bottom: 1px solid #00000010;
        width: 100%;
    }
}
/* Navigation CSS End */