/* Header CSS Start */
header .wrapper, header .wrapper .images {
    position: relative;
}
header .wrapper .texts, header .wrapper .images .two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
header .wrapper .images .two {
    opacity: 0.86;
}
header .wrapper .images .one img, header .wrapper .images .two img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    object-position: center;
}
header .texts .text_wrapper h1 {
    font-size: 60px;
}
header .texts .tag {
    background-color: #ffffff20;
    max-width: 232px;
}
header .texts .tag .icon {
    color: #1e8a8a;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 340px;
    }
}
@media screen and (max-width: 576px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 300px;
    }
}
/* Header CSS End */


/* Service Details CSS Start */
.details {
    padding: 100px 0;
}
.details h1 {
    font-size: 46px;
}
.details .image img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.details ul li i {
    color: #1e8a8a;
}
.details h3 {
    font-size: 32px;
    margin: 34px 0 24px 0;
}
.details h5 {
    background-color: #1e8a8a;
    width: 30px;
    height: 30px;
}
.details .green_bg {
    background-color: #d8e5e5;
}
.details .green_bg .image img {
    width: 100%;
    height: 100%;
}
.details .image_wrapper {
    position: relative;
}
.details .image_wrapper .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000020;
    opacity: 0;
}
.details .image_wrapper:hover .icon {
    opacity: 1;
}
.details .info .icon {
    background-color: #1e8a8a;
    width: 38px;
    height: 38px;
}
.details .info p {
    font-size: 14px;
    margin-bottom: -4px;
}
.details .info h2 {
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    .details {
        padding: 60px 0;
    }
    .details h3 {
        font-size: 22px;
    }
}
@media screen and (max-width: 576px) {
    .details {
        padding: 38px 0;
    }
}
/* Service Details CSS End */


/* Footer CSS Start */
footer {
    padding: 200px 0 0 !important;
}
/* Footer CSS End */