/* Header CSS Start */
header .wrapper, header .wrapper .images {
    position: relative;
}
header .wrapper .texts, header .wrapper .images .two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
header .wrapper .images .two {
    opacity: 0.86;
}
header .wrapper .images .one img, header .wrapper .images .two img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    object-position: center;
}
header .texts .text_wrapper h1 {
    font-size: 60px;
}
header .texts .tag {
    background-color: #ffffff20;
    max-width: 178px;
}
header .texts .tag .icon {
    color: #1e8a8a;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 340px;
    }
}
@media screen and (max-width: 576px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 300px;
    }
}
/* Header CSS End */


/* Portfolio CSS Start */
.portfolio {
    padding: 100px 0;
}
.portfolio .item, .portfolio .item .image {
    overflow: hidden;
}
.portfolio .item:hover .image img {
    transform: rotate(-4deg) scale(1.08);
}
.portfolio .item:hover .wrapper .two {
    opacity: 1;
}
.portfolio .item .image img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    transition: 0.4s;
}
.portfolio .item, .portfolio .item .tag, .portfolio .item .wrapper .one {
    transition: 0.4s;
}
.portfolio .item .tag:hover {
    background-color: #1E8A8A;
    color: #fff !important;
}
.portfolio .item .wrapper .one:hover {
    color: #1E8A8A !important;
}
.portfolio .item .wrapper .two {
    transform: rotate(315deg);
    width: 66px;
    height: 66px;
    transition: 0.4s;
    opacity: 0;
}
.portfolio .item .wrapper .two:hover {
    transform: rotate(360deg);
    color: #1E8A8A !important;
}
@media screen and (max-width: 768px) {
    .portfolio {
        padding: 60px 0;
    }
    .portfolio .item .image img {
        height: 340px;
    }
}
@media screen and (max-width: 576px) {
    .portfolio {
        padding: 38px 0;
    }
    .portfolio .item .image img {
        height: 300px;
    }
}
/* Portfolio CSS End */


/* Footer CSS Start */
footer {
    padding: 200px 0 0 !important;
}
/* Footer CSS End */