/* Header CSS Start */
header .wrapper, header .wrapper .images {
    position: relative;
}
header .wrapper .texts, header .wrapper .images .two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
header .wrapper .images .two {
    opacity: 0.86;
}
header .wrapper .images .one img, header .wrapper .images .two img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    object-position: center;
}
header .texts .text_wrapper h1 {
    font-size: 60px;
}
header .texts .tag {
    background-color: #ffffff20;
    max-width: 170px;
}
header .texts .tag .icon {
    color: #1e8a8a;
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 340px;
    }
}
@media screen and (max-width: 576px) {
    header .wrapper .images .one img, header .wrapper .images .two img {
        height: 300px;
    }
}
/* Header CSS End */


/* Service CSS Start */
.service {
    padding: 100px 0;
}
.service .icon_top {
    color: #1E8A8A;
    background: #339191;
    background: linear-gradient(126deg, rgba(51, 145, 145, 0.49) 0%, rgba(255, 255, 255, 1) 50%, rgba(41, 140, 139, 0.68) 100%);
    border: 1px solid #2b8a8a2e;
    font-size: 50px;
    width: 90px;
    height: 90px;
}
.service .item, .service .icon_top, .service h1, .service p {
    transition: 0.4s;
}
.service .item a:hover .icon {
    background-color: #000 !important;
}
.service .item:hover, .service .item:hover .icon_top {
    background-color: #1E8A8A !important;
    background: #1E8A8A;
    color: #fff !important;
}
.service .item:hover h1,.service .item:hover p, .service .item:hover a {
    color: #fff !important;
}
@media screen and (max-width: 768px) {
    .service {
        padding: 60px 0;
    }
}
@media screen and (max-width: 576px) {
    .service {
        padding: 38px 0;
    }
}
/* Service CSS End */


/* Contact CSS Start */
.contact {
    padding: 100px 0;
    background: url(../images/banner/contact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(12, 30, 33);
    position: relative;
}
.contact .one {
    position: absolute;
    top: 0;
    left: 0;
}
.contact .two {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.contact .headline .wrapper {
    border: 1px dashed #3f888848;
    max-width: 158px;
}
.contact .headline .wrapper .image {
    max-width: 14px;
}
.contact .headline .wrapper .image img {
    width: 100%;
}
.contact .headline h1 {
    font-size: 48px;
}
.contact .headline h1 .green {
    color: #1E8A8A;
}
.contact .wrapper {
    background-color: rgba(50, 61, 62, 0.614);
    backdrop-filter: blur(10px);
}
.contact form .input_group input, .contact form .input_group textarea {
    background-color: #ffffff00;
    border-bottom: 1px solid #ffffff38 !important;
    border: 0;
    color: #fff;
    transition: 0.4s;
}
.contact form .input_group input::placeholder, .contact form .input_group textarea::placeholder {
    color: #fff;
}
.contact form .input_group input:focus, .contact form .input_group textarea:focus {
    box-shadow: none;
    border-bottom: 1px solid #1E8A8A !important;
}
.contact form button {
    background-color: #00000000;
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 60px 0;
    }
    .contact .headline h1 {
        font-size: 38px;
    }
}
@media screen and (max-width: 576px) {
    .contact {
        padding: 38px 0;
    }
    .contact .headline h1 {
        font-size: 24px;
    }
    .contact .headline .wrapper {
        max-width: 128px;
    }
    .contact .headline .wrapper h6 {
        font-size: 12px;
    }
}
/* Contact CSS End */


/* Pricing CSS Start */
.pricing {
    padding: 100px 0 0;
}
.pricing .headline .wrapper {
    border: 1px dashed #ccc;
    max-width: 158px;
}
.pricing .headline .wrapper .image {
    max-width: 14px;
}
.pricing .headline .wrapper .image img {
    width: 100%;
}
.pricing .headline h1 {
    font-size: 46px;
    max-width: 590px;
}
.pricing .item_standard {
    background-color: #1e8a8a;
}
.pricing .headline .green, .pricing .item .benefits li i {
    color: #1e8a8a !important;
}
.pricing .item .price h2, .pricing .item_standard .price h2 {
    font-size: 58px;
}
.pricing .item .btn_three, .pricing .item_standard .btn_three {
    border: 1px solid #1e8a8a;
}
.pricing .item .benefits, .pricing .item_standard .benefits {
    list-style: none;
}
@media screen and (max-width: 768px) {
    .pricing {
        padding: 60px 0 0;
    }
    .pricing .headline h1 {
        font-size: 38px;
    }
    .pricing .item .price h2, .pricing .item_standard .price h2 {
        font-size: 46px;
    }
}
@media screen and (max-width: 576px) {
    .pricing {
        padding: 38px 0 0;
    }
    .pricing .headline h1 {
        font-size: 24px;
    }
    .pricing .headline .wrapper {
        max-width: 128px;
    }
    .pricing .headline .wrapper h6 {
        font-size: 12px;
    }
    .pricing .item .price h2, .pricing .item_standard .price h2 {
        font-size: 38px;
    }
    .pricing .benefits li {
        font-size: 14px;
    }
}
/* Pricing CSS End */


/* Logos CSS Start */
.logos {
    padding: 200px 0;
}
.logos .item {
    min-height: 100px;
}
.logos .wrapper {
    position: relative;
}
.logos .wrapper .company {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logos .wrapper .company .wrapper {
    background-color: #ffffff20;
    backdrop-filter: blur(8px);
    width: 290px;
    height: 290px;
    padding: 34px;
    border: 1px dashed #ccc;
}
.logos .wrapper .company .wrapper h5 .green {
    background-color: #1E8A8A;
    padding: 0 4px;
}
@media screen and (max-width: 768px) {
    .logos {
        padding: 120px 0;
    }
}
@media screen and (max-width: 768px) {
    .logos {
        padding: 76px 0;
    }
}
/* Logos CSS End */


/* Footer CSS Start */
footer {
    padding: 200px 0 0 !important;
}
/* Footer CSS End */